@import '~@/style/varivles'
page, html
  background-color $greyPageColor
.menu
  position fixed
  z-index 2
  top 0
  left 0
  width 100%
  background-color #fff
  box-sizing border-box
  padding 20px 40px
  box-shadow:  6px 0px 10px rgba(89, 89, 89, .15);
  display flex
  align-items center
  justify-content space-between
  .filter-list
    display flex
    align-items center
    button
      border-radius 0
      &:first-of-type
        border-radius 10px 0 0 10px
      &:last-of-type
        border-radius 0 10px 10px 0
.todo-list
  padding 120px 40px 20px
  .no-data
    text-align center
    padding 40px
    color $weekFontColor
    font-size 26px
  .group-item
    .group-date
      padding 20px 0
      color $weekFontColor
      font-size: 26px
  .todo-item
    background-color #fff
    // border $colorBorder
    border-radius 10px
    padding 0 20px
    margin-bottom 20px
    .todo-item-title.finished
      text-decoration line-through
      color $weekFontColor
    .item-main
      font-size 32px
      color $fontColor
      padding 20px
      display flex
      align-items center
      justify-content space-between
      .finish-status
        color $weekFontColor
        font-size 26px
    .item-detail
      .item-info
        padding 20px 20px 10px
        .info-item
          display flex
          align-items center
          justify-content space-between
          font-size 26px
          line-height 48px
          color $weekFontColor
      &::before
        content ''
        display block
        width 0
        // background-color #ddd
        border-bottom $normalBorder
        transition width $transitionTime
        box-sizing border-box
        margin 0 auto
      // border-top 1px solid transparent
      max-height 0
      overflow hidden
      transition all $transitionTime
      .btns
        padding 20px 20px
        display flex
        align-items center
        justify-content space-between
        .left
          display flex
          align-items center
        .right
          font-size 28rpx
          color $weekFontColor
      button
        margin-right 20px
      &.show
        // border-top 1px solid #ddd
        max-height 300px
        &::before
          width 650px
