.title
  font-size 34px
  text-align center
  line-height 48px
  padding-bottom 20px
.todo-form
  display block
  box-sizing border-box
  .form-item
    display flex
    align-items center
    justify-content space-between
    border-bottom 1px solid #ddd
    line-height 100px
    color #333
    font-size 30px
    .label
      width 120px
    .value
      width 500px
  .btns
    padding-top 20rpx