$mainColor = #16b9c8
$viceColor = #b3e9ff
$greyPageColor = #f5f5f5
$borderColor = #ddd
$normalBorder = 1px solid $borderColor
$colorBorder = 1px solid $viceColor
$fontColor = #333
$weekFontColor = #999
$placeHolderFontColor = #ccc
$linkColor = #16b9c8
$errorColor = #f08b9c
$warnColor = #FFBB1D
$transitionTime = 0.3s