@import '~@/style/varivles'
button
  padding 0
  margin 0
  background-color inherit
  font-size inherit
  &::after
    border none;
  &.button-hover
    background-color $viceColor !important
    color #fff !important
  &[type=primary]
    background-color $mainColor
    color #fff
  &[type=default]
    background-color $viceColor
    color #fff
  &[type=warn]
    background-color $errorColor
    color #fff
  &.small
    width 100px
    height 60px
    line-height 60px
    text-align center
    font-size 24px
  &.middle
    width 640px
    height 90px
    line-height 90px
    text-align center
    font-size 36px
    margin 0 auto
  &.popup
    width 480px
    height 80px
    line-height 80px
    text-align center
    font-size 30px
    margin 0 auto
.input-placeholder,
.picker-placeholder
  color $placeHolderFontColor