@import '~@/style/varivles'

page
  background-color #f7f7f7
.index
  padding 20px
  .header
    display flex
    align-items center
    background-color $mainColor
    border-radius 12px
    justify-content center
    padding 40px 0;
    .header-item
      text-align center
      padding 0 100px
      .header-icon
        color: #fff
        font-size: 50px
        width 100px
        height 100px
        line-height 100px
      .header-txt
        padding-top: 20px
        color: #fff
        font-size: 32px
        line-height 48px